* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #111827;
}

.container {
    width: 75%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.searchBar {
    display: block;
    border: 3px solid white;
    border-radius: 20px;
    padding: 20px 80px 40px 80px;
    width: 600px;
    margin: auto;
}


.searchBar h1{
    font-family: 'Patrick Hand', sans-serif;
    font-size: 70px;
    color: #F9FAFB;
    margin: 0px;
    margin-bottom: 40px;
}

.searchBar form {
    display: flex;
    flex-direction: column;
}

.searchBar form input {
    padding: 10px 0px 10px 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 25px;
    font-family: 'Patrick Hand', sans-serif;
    background-color: #1f2937;
    border: none;
    color: white;
}

.searchBar form input::placeholder {
    font-size: 25px;
    font-family: 'Patrick Hand', sans-serif;
    color: #E5E7EB;
}

.searchBar form input:focus {
    border: 3px solid #6366F1;
    box-shadow: 0 0 8px rgba(99, 102, 241, 0.6);
}

.searchBar form button {
    width: 40%;
    margin: auto;
    padding: 15px 15px;
    border: none;
    border-radius: 50px;
    background-color: rgb(81, 81, 192);
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Patrick Hand', sans-serif;
    transition: 0.2s ease 0s;
    background: linear-gradient(to right, #6366F1, #8B5CF6);
    box-shadow: 0 4px 15px rgba(139, 92, 246, 0.5);
}

.searchBar form button:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, #5355ec, #8753ff);
}

.weatherInfo {
    display: none;
    border: 3px solid white;
    border-radius: 20px;
    min-width: 600px;
    margin: auto;
    margin-top: 30px;
    color: #F9FAFB; 
    background-color: #1f2937;  
}

.weatherInfo .location {
    font-family: 'Patrick Hand', sans-serif;
    padding: 20px 30px;
    font-size: 35px;
    margin: 0px;
    text-shadow: 1px 1px 14px rgba(206,206,206,0.51);
}

.weatherInfo .location:hover {
    text-decoration: underline;
    cursor: pointer;
}

.mainInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainInfo .description {
    display: flex;
    align-items: center;
}

.description img {
    width: 75%;
}

.description h1 {
    font-size: 55px;
    font-family: 'Roboto';
}

.temperature {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    color: #D1D5DB;
}

#weatherDescription {
    font-family: 'Patrick Hand', sans-serif;
    font-size: 18px;
}

#tempMaxMin {
    font-family: 'Patrick Hand', sans-serif;
}

.Info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    padding: 0px 20px;
    margin-top: 50px;
}

.Info div {
    border: 3px solid white;
    border-radius: 20px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 35px -20px rgba(255,255,255,0.75);
    -webkit-box-shadow: 10px 10px 35px -20px rgba(255,255,255,0.75);
    -moz-box-shadow: 10px 10px 35px -20px rgba(255,255,255,0.75);
    flex: 1;
    transition: 0.2s ease 0s;
    background-color: #19252e;
    min-width: 200px;
    max-width: 300px;
}

.Info div:hover {
    transform: scale(1.01);

}

.Info div span {
    font-size: 50px;
    color: #FBBF24;
}

.Info div h3 {
    font-family: 'Patrick Hand', sans-serif;
    font-size: 30px;
    margin: 12px;
    text-shadow: 1px 1px 14px rgba(206,206,206,0.51);
    color: #93C5FD;
}

.Info div h2 {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    font-size: 30px;
}

.otherInfo2 {
    margin-bottom: 30px;
}


.loading {
    display: none;
    color: #F9FAFB;
    font-family: 'Patrick Hand', sans-serif;
    font-size: 80px;
    padding: 20px 40px;
}